/* ----------------
Add section
 ---------------------*/

.add-section {
  padding: 110px 0 103px;
}

.add-text {
  padding-left: 77px;
}

.add-text h2 {
  font-size: 60px;
  margin-bottom: 42px;
  color: #fff;
  margin-right: 116px;
}

.add-text h2 span {
  color: #fcff18;
}

.add-text ul {
  list-style: none;
  margin-bottom: 40px;
}

.add-text ul li {
  margin-bottom: 19px;
  color: #fff;
}

.add-text ul li img {
  margin-right: 19px;
}
