.contact-section {
  padding-top: 110px;
}

.contact-title {
  margin-bottom: 76px;
}

.contact-info-warp {
  margin-bottom: 30px;
}

.contact-info-warp h4 {
  margin-bottom: 30px;
}

.contact-info-warp .contact-info img {
  float: left;
  margin-right: 12px;
  padding-top: 7px;
}

.contact-info-warp .contact-info p {
  line-height: 1.8;
  margin-bottom: 0;
}

.contact-info-warp .contact-info .cf-text {
  max-width: 145px;
  overflow: hidden;
}

.contact-form {
  margin-bottom: 84px;
}

.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  height: 60px;
  padding: 10px 29px;
  border: none;
  background: #edf3f5;
  margin-bottom: 19px;
  font-style: italic;
  font-size: 16px;
  color: #242424;
}

.contact-form textarea {
  resize: none;
  height: 164px;
  padding: 24px 29px 10px;
  margin-bottom: 30px;
}

.map {
  position: relative;
  height: 560px;
  background: #ddd;
}

.map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.page-top-section {
  height: 272px;
  text-align: center;
  padding-top: 95px;
}

.page-top-section h2 {
  display: inline-block;
  position: relative;
  font-size: 72px;
  color: #fff;
  padding-bottom: 17px;
}

.page-top-section h2:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  background: #fcff18;
}
