.hero-section {
  height: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.hero-text {
  padding-top: 100px;
}

.hero-text h2 {
  font-size: 3.6rem;
  color: #fff;
  line-height: 1;
}

.hero-text h2 span {
  color: #fcff18;
}

.hero-text .site-btn {
  margin-top: 44px;
}

